.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: var(--space-m) var(--space-xl);
  flex-wrap: wrap;

  > div {
    margin: var(--space-m) 0;
  }

  .navbar-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-xs);

    font-family: "Bernardo Moda";
    text-decoration: none;
    color: var(--color-primary-highlight);

    svg {
      display: block;
      width: auto;
      height: 45px;
      color: var(--color-primary-highlight);
    }

    h1 {
      font-weight: bold;
      margin: 0;
    }
  }

  .navbar-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--space-m);

    .github-link {
      color: white;
      display: block;
      line-height: 0;

      svg {
        height: 35px;
        width: auto;
      }
    }
  }

  .wallet button {
    /* TODO: this doesn't work because button is inside shadow DOM */
    background-color: var(--color-primary);
  }
}
