.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-l) var(--space-xl);

  .navbar-logo {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: "Bernardo Moda";
    text-decoration: none;
    color: var(--color-primary-highlight);

    svg {
      display: block;
      width: auto;
      height: 85px;

      path {
        stroke: var(--color-primary-highlight);
        stroke-width: 1px;
      }
    }

    h1 {
      font-weight: bold;
      margin: 0;

      position: relative;
      top: 11px;
    }
  }

  .wallet button {
    /* TODO: this doesn't work because button is inside shadow DOM */
    background-color: var(--color-primary);
  }
}
