@font-face {
  font-family: "GreekFreak";
  src: url("./assets/fonts/CapitalisTypOasis.ttf") format("truetype");
}

@font-face {
  font-family: "MB Forever Raw";
  src: url("./assets/fonts/MB-ForeverRaw.ttf") format("truetype");
}

@font-face {
  font-family: "Landsdowne";
  src: url("./assets/fonts/Landsdowne.ttf") format("truetype");
}

@font-face {
  font-family: "Bernardo Moda";
  src: url("./assets/fonts/Bernardo-Moda.ttf") format("truetype");
}

:root {
  --color-background: #0e1014;
  --color-background-alt: #1d1d20;
  --color-primary: #5f2fa7;
  --color-primary-half: hsla(264, 58%, 34%, 0.407);
  --color-primary-highlight: #ab73ff;
  --color-text: #f5f5f5ff;

  --font-base: "Noto Sans", sans-serif;
  --font-logo: "JetBrains Mono", serif;
  --font-xs: clamp(0.25rem, 1vw, 0.5rem);
  --font-s: clamp(0.8rem, 1.5vw, 0.9rem);
  --font-m: clamp(1rem, 2vw, 1.2rem);
  --font-l: clamp(1.2rem, 2.5vw, 1.5rem);
  --font-xl: clamp(1.5rem, 3vw, 2rem);

  --space-xs: clamp(0.25rem, 1vw, 0.5rem);
  --space-s: clamp(0.5rem, 1.5vw, 1rem);
  --space-m: clamp(1rem, 2vw, 1.5rem);
  --space-l: clamp(1.5rem, 2.5vw, 2rem);
  --space-xl: clamp(2rem, 3vw, 4rem);
  --space-xxl: clamp(4rem, 4vw, 8rem);

  --text-area-width: min(800px, 90vw);
  --prompt-height: clamp(100px, 15vh, 150px);
  --border-radius: clamp(0.5rem, 1vw, 1rem);

  /* Customize Mantine variables */
  --mantine-primary-color-filled: var(--color-primary);
  --mantine-primary-color-filled-hover: color-mix(
    in srgb,
    var(--color-primary),
    white 20%
  );
  --mantine-primary-color-light: var(--color-primary);
  --mantine-primary-color-light-hover: color-mix(
    in srgb,
    var(--color-primary),
    white 20%
  );
  --mantine-primary-color-light-color: var(--color-primary);
  /* Make these pink because I suspect they're not actually needed. If so we can remove them. */
  --mantine-primary-color-0: rgb(255, 0, 225);
  --mantine-primary-color-1: rgb(255, 0, 225);
  --mantine-primary-color-2: rgb(255, 0, 225);
  --mantine-primary-color-3: rgb(255, 0, 225);
  --mantine-primary-color-4: rgb(255, 0, 225);
  --mantine-primary-color-5: rgb(255, 0, 225);
  --mantine-primary-color-6: rgb(255, 0, 225);
  --mantine-primary-color-7: rgb(255, 0, 225);
  --mantine-primary-color-8: rgb(255, 0, 225);
  --mantine-primary-color-9: rgb(255, 0, 225);
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  min-height: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

body {
  font-family: var(--font-base);
  background-color: var(--color-background);
  color: var(--color-text);
}

.main {
  position: relative;
  display: flex;
  flex: 1;
  min-height: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.chat-container {
  display: flex;
  flex: 1;
  min-height: 0;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
}
